.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.x-axis {
  font-size:14px;
  fill: rgba(76, 135, 184, 0.596);
}

.y-axis {
  font-size:14px;
  fill: rgba(76, 135, 184, 0.596);
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #424141;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: rgb(76, 135, 184);
  cursor: pointer;
  font-weight: bold;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  fill: rgb(255, 255, 255);
  text-anchor: middle;
  z-index: -1;
  opacity: 0.8;
}

.stateText:hover {
  fill: rgb(255, 9, 9);
  opacity: 0.9;
}
.stateCircle {
  fill: #1a4253;
  stroke: #e3e3e3;
}

.stateCircle:hover {
  fill: #b81b1b;
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  /*text-transform: capitalize;*/
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
